<!DOCTYPE html>
<html>
    <head>
        <title>MetaPack</title>
       	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
       	<script>
       	function get_fb(){
		    var feedback = $.ajax({
		        type: "GET",
		        url: "register.cfm",
		        async: false
		    }).complete(function(){
		        setTimeout(function(){get_fb();}, 5000);
		    }).responseText;
                    
                    var tgtprotocol = feedback.trim().split(":")[0];
                    var srcprotocol = window.location.href.split(":")[0];
                    
                    if ((tgtprotocol == "https") && (srcprotocol == "http")) {
                        window.location.href = window.location.href.replace("http", "https");
                    } 

                    if ((tgtprotocol == "http") && (srcprotocol == "https")) {
                        window.location.href = window.location.href.replace("https", "http");
                    }

		    if (feedback.trim() != $('#ifm').attr("src")) {
		    	$('#ifm').attr("src", feedback.trim());
		    	
		    }
		}
       	</script>
    </head>
    <body>
       
          <iframe id="ifm" src="http://www.metapack.com" style="position:fixed; top:0px; left:0px; bottom:0px; right:0px; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;">
  Your browser doesn't support IFrames
</iframe>`
       
        
        
        <script>get_fb();</script>
    </body>
</html>
