<cfif not structKeyExists(application.devices, session.cfid)>
	<cfset application.devices["#session.cfid#"] = structNew()>
	<cfset application.devices["#session.cfid#"].name = "">
	<cfset application.devices["#session.cfid#"].location = "">
	<cfoutput>http://www.metapack.com</cfoutput>
<cfelse>
	<cfoutput>#application.devices[session.cfid].location#</cfoutput>
</cfif>